<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DBTraveller</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://www.transparentpng.com/thumb/travel/Eqz7Dy-travel-world-transparent-logo.png"
                     width="50" height="50" class="d-inline-block" alt="">
                DBTraveller
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div sec:authorize="hasRole('ADMIN')">
                <button class="btn btn-secondary" type="button">
                    Admin Profile
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav row d-inline-flex">
                    <li class="nav-item m-auto col-md-4" sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page" href="/">Offers</a>
                    </li>
                    <li class="nav-item m-auto col-md-4" sec:authorize="hasRole('HOTEL_OWNER')">
                        <a class="nav-link active" href="/hotels/create">List&nbsp;Hotel</a>
                    </li>
                    <li class="nav-item col-md-4 m-auto " sec:authorize="!isAuthenticated()">
                        <a class="nav-link active " href="/users/register">Register</a>
                    </li>
                    <li class="nav-item col-md-4 m-auto" sec:authorize="!isAuthenticated()">
                        <a class="nav-link active " href="/users/login">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item mr-auto col-md-4 dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img id="avatar-pic"
                                 th:src="${avatar}"
                            class="avatar">
                            <!--                                 src="https://st.depositphotos.com/2101611/3925/v/600/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg"-->
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/users/my-profile">My Profile</a></li>
                            <li><a class="dropdown-item" href="/users/reservations">My Reservations</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <th:block sec:authorize="hasRole('HOTEL_OWNER')">
                                <li><a class="dropdown-item" href="/hotels/owned">My Hotels</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </th:block>
                            <th:block sec:authorize="hasRole('ADMIN')">
                                <li><a class="dropdown-item" href="/admin/manage-users">Admin Panel</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </th:block>
                            <li class="dropdown-item" sec:authorize="isAuthenticated()">
                                <form th:action="@{/users/logout}" method="post">
                                    <button type="submit" class="active border-0 bg-white">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="footer" class="footer bg-blur">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy;Bonev's Spring Team 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>