<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments::head"></head>
<body>
<header th:replace="/fragments/fragments::navbar"></header>

<main class="p-5 align-content-center bg-blur main">
    <h1 class="text-light border-bottom mb-5">List Your Hotel</h1>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">List hotel</a>
                </li>
            </ul>
        </div>
        <div class="card-body bg-primary">
            <div class="container">
                <h2 class="text-center text-white">Register Hotel</h2>
                <form th:action="@{/hotels/create}" method="POST" th:object="${hotelCreateBindingModel}"
                      enctype="multipart/form-data"
                      class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="hotelName" class="text-white font-weight-bold">Hotel Name</label>
                            <input th:field="*{name}" th:errorclass="is-invalid" required id="hotelName" type="text"
                                   minlength="2"
                                   maxlength="20" class="form-control"
                                   placeholder="Hotel Name"/>
                            <p class="errors alert alert-danger invalid-feedback">
                                Hotel name is required.
                            </p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="stars" class="text-white font-weight-bold">Stars</label>
                            <select id="stars" required class="form-control" th:field="*{stars}"
                                    th:errorclass="is-invalid">
                                <option value="">- Choose stars count -</option>
                                <option th:each="s:${T(bg.softuni.hotelagency.model.entity.enums.StarEnum).values()}"
                                        th:value="${s}"
                                        th:text="${s}"></option>
                            </select>
                            <p class="errors alert alert-danger invalid-feedback">
                                Star count is required.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="email" class="text-white font-weight-bold">Email</label>
                            <input id="email" required type="email" th:field="*{email}" th:errorclass="is-invalid"
                                   class="form-control"
                                   placeholder="Email"/>
                            <p class="errors alert alert-danger invalid-feedback">
                                Email is required.
                            </p>
                        </div>

                        <div class="form-group col-md-6 mb-3">
                            <label for="pictures" class="text-white font-weight-bold">Add pictures of your hotel</label>
                            <input type="file"
                                   id="pictures" name="pictures" th:field="*{pictures}" required
                                   th:errorclass="is-invalid"
                                   accept="image/png, image/jpeg" class="form-control" multiple>
                            <p class="errors alert alert-danger invalid-feedback">
                                Upload at least one picture.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-3">
                            <label for="videoUrl" class="text-white font-weight-bold">YouTube Video</label>
                            <input id="videoUrl" type="text" class="form-control" th:field="*{videoUrl}"
                                   th:errorclass="is-invalid"
                                   minlength="5" maxlength="50"
                                   placeholder="watch?v={YOUR CODE}"/>
                            <p class="errors alert alert-danger invalid-feedback">
                                Video url is not valid
                            </p>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <label for="address" class="text-white font-weight-bold">Your hotel's address</label>
                            <input id="address" type="text" class="form-control" th:field="*{address}"
                                   th:errorclass="is-invalid"
                                   required
                                   minlength="5" maxlength="50"
                                   placeholder="ex. Country, City, Street..."/>
                            <p class="errors alert alert-danger invalid-feedback">
                                Hotel address must be valid.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3">
                            <label for="description" class="text-white font-weight-bold">Description</label>
                            <textarea id="description" class="form-control" th:field="*{description}"
                                      minlength="15" maxlength="500" required
                                      th:errorclass="is-invalid"
                                      placeholder="Description..."></textarea>
                            <p class="errors alert alert-danger invalid-feedback">
                                Description must be between 15 and 500 characters.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="button-holder d-flex">
                                <input type="submit" class="btn btn-info btn-lg" value="Create Hotel"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-blur" th:replace="/fragments/fragments::footer">
</footer>
</body>
</html>