<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments::head"></head>
<body>
<nav th:replace="/fragments/fragments::navbar"></nav>
<main class="main container">
    <div class="container bg-white p-4 rounded-1">
        <div class="row">
            <div class="form-group col-md-3 mb-3">
                <label for="hotelName" class="text-black-50 font-weight-bold">Hotel Name</label>
                <input id="hotelName" type="search" min="2" max="20" class="form-control"
                       placeholder="Hotel Name"/>
            </div>
            <div class="form-group col-md-3 mb-3">
                <label for="stars" class="text-black-50 font-weight-bold">Stars</label>
                <select id="stars" class="form-control">
                    <option value="">- Choose stars count -</option>
                    <option th:each="s:${T(bg.softuni.hotelagency.model.entity.enums.StarEnum).values()}"
                            th:value="${s.name()}"
                            th:text="${s}"></option>
                </select>
            </div>
            <div class="form-group col-md-5 mb-3">
                <label for="address" class="text-black-50 font-weight-bold">Location</label>
                <input id="address" type="search" min="2" max="20" class="form-control"
                       placeholder="Country, Town, Street, ect..."/>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input id="searchBtn" type="button" class="btn btn-info btn-lg" value="Search"/>
                </div>
            </div>
        </div>
    </div>
    <div id="cardsList">
    </div>
</main>
<footer th:replace="/fragments/fragments::footer"></footer>
<script src="/js/search-bar.js"></script>
</body>
</html>