<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/fragments::head"></head>
<body>
<header th:replace="/fragments/fragments::navbar"></header>
<main class="main">
    <div id="containerDetails">
        <div class="row d-inline-flex float-start mb-3">
            <div id="carouselExampleControls" class="carousel slide col-2" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img th:src="@{${hotel.mainPictureUrl}}"
                             class="d-block w-100" alt="...">
                    </div>
                    <div th:each="p:${hotel.pictureUrls}" class="carousel-item ">
                        <img th:src="@{${p}}"
                             class="d-block w-100" alt="...">
                    </div>
                    <div th:if="${hotel.videoUrl!=null}" class="carousel-item ">
                        <div class="col-md-6 bg-transparent rounded">
                            <div class="rounded embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="680px" height="480px"
                                        th:src="'https://www.youtube.com/embed/'+${hotel.videoUrl}+'?controls=0'"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div id="description" class="col">
                <p class="h1 fst-italic fw-bold" th:text="${hotel.name}">Title</p>
                <dl class="d-block">
                    <dt class="col-sm-3">Stars</dt>
                    <dd class="col-sm-9" th:text="${hotel.stars}">.....</dd>

                    <dt class="col-sm-3">Address</dt>
                    <dd class="col-sm-9" th:text="${hotel.address}">................
                    </dd>

                    <dt class="col-sm-3">Email</dt>
                    <dd class="col-sm-9" th:text="${hotel.email}">.....@abv.bg</dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9" th:text="${hotel.description}">This can be useful when space is tight. Adds an
                        ellipsis at the end.
                    </dd>
                </dl>
                <div>
                    <div th:if="${isOwner}" class="d-grid gap-2 d-md-block">
                        <a class="btn btn-success fw-bold" th:href="@{/hotels/rooms/manage/{id}(id=${id})}"
                           role="button">Manage
                            Rooms</a>
                        <a class="btn btn-warning fw-bold" th:href="@{/hotels/edit/{id}(id=${id})}"
                           role="button">Edit Hotel</a>
                    </div>
                    <form th:unless="${isOwner}" method="POST" th:action="@{/hotels/reserve/{id}(id=${id})}"
                          th:object="${reservationCreateBindingModel}">
                        <div class="row">
                            <p th:if="${noRooms}" class="errors alert alert-danger">
                                Not enough free rooms for this period.
                            </p>
                            <div class="form-group col-md-10 mb-3">
                                <label for="roomType" class="text-white font-weight-bold">Room Type</label>
                                <select required th:field="*{room}" th:errorclass="is-invalid" id="roomType"
                                        class="form-control">
                                    <option value=""> -Select room type-</option>
                                    <option th:each="r:${rooms}"
                                            th:text="|${r.type}(${r.name}, ${r.price}EUR Single beds:${r.singleBedsCount}, Twin beds:${r.twinBedsCount})|"
                                            th:value="${r.id}"></option>
                                </select>
                                <p class="errors alert alert-danger invalid-feedback">
                                    Room type must be chosen.
                                </p>
                            </div>
                            <div class="form-group col-md-2 mb-3">
                                <label for="roomCount" class="text-white font-weight-bold">Count</label>
                                <input min="0" required th:field="*{countOfRooms}" th:errorclass="is-invalid"
                                       id="roomCount"
                                       type="number" class="form-control"/>
                                <p class="errors alert alert-danger invalid-feedback">
                                    Count of rooms must be positive.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                <label for="arriveDate" class="text-white font-weight-bold">Arrive Date</label>
                                <input required min="2021-1-1" max="2023-1-1" th:field="*{arriveDate}"
                                       th:errorclass="is-invalid" id="arriveDate" type="date"
                                       class="form-control"
                                       placeholder="Arrive Date"/>
                                <p class="errors alert alert-danger invalid-feedback">
                                    Arrive date can't be in the past.
                                </p>
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                <label for="leaveDate" class="text-white font-weight-bold">Leave Date</label>
                                <input th:field="*{leaveDate}" required min="2021-1-1" max="2023-1-1"
                                       th:errorclass="is-invalid" id="leaveDate" type="date"
                                       class="form-control"
                                       placeholder="Leave Date"/>
                                <p class="errors alert alert-danger invalid-feedback">
                                    Leave date must be in the future and must be later than arrive date.
                                </p>
                            </div>
                        </div>
                        <input type="submit" value="Reserve" class="btn btn-warning">
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h5 id="commentCount">Comments(6)</h5>
                    </div>
                    <div class="input-group mb-3">
                        <input id="commentInput" type="text" class="form-control" placeholder="Leave a comment here..."
                               aria-label="Leave a comment here..."
                               aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary btn-danger" type="button" th:value="${id}"
                                id="button-addon2">Post
                        </button>
                    </div>
                    <div id="commentSection"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="/fragments/fragments::footer"></footer>
<script src="/js/comment-logic.js"></script>
</body>
</html>